.is-button[data-v-914ba2eb] {
    outline-color: transparent;
    outline-offset: 2px;
    outline-style: dashed;
    outline-width: 1px
}

.is-button[data-v-914ba2eb]:focus-within {
    outline-color: #cbd5e1;
    outline-style: dashed;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

:is([class~=dark] .is-button[data-v-914ba2eb]:focus-within) {
    outline-color: #475569
}

.is-button[data-v-914ba2eb]:focus-visible {
    outline-width: 2px
}

.is-button[data-v-914ba2eb] {
    align-items: center;
    display: inline-flex;
    height: 2.5rem;
    justify-content: center;
    position: relative
}

.is-button[data-v-914ba2eb]>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(.25rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(.25rem*var(--tw-space-x-reverse))
}

.is-button[data-v-914ba2eb] {
    font-family: Inter Variable, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: .5rem 1.25rem;
    text-decoration-line: none;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.is-button[data-v-914ba2eb]:hover {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.is-button[data-v-914ba2eb]:disabled {
    cursor: not-allowed;
    opacity: .6
}

.is-button-condensed[data-v-914ba2eb] {
    outline-color: transparent;
    outline-offset: 2px;
    outline-style: dashed;
    outline-width: 1px
}

.is-button-condensed[data-v-914ba2eb]:focus-within {
    outline-color: #cbd5e1;
    outline-style: dashed;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

:is([class~=dark] .is-button-condensed[data-v-914ba2eb]:focus-within) {
    outline-color: #475569
}

.is-button-condensed[data-v-914ba2eb]:focus-visible {
    outline-width: 2px
}

.is-button-condensed[data-v-914ba2eb] {
    align-items: center;
    display: inline-flex;
    height: 2rem;
    justify-content: center;
    position: relative
}

.is-button-condensed[data-v-914ba2eb]>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(.25rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(.25rem*var(--tw-space-x-reverse))
}

.is-button-condensed[data-v-914ba2eb] {
    font-family: Inter Variable, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: .25rem 1rem;
    text-decoration-line: none;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.is-button-condensed[data-v-914ba2eb]:hover {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.is-button-condensed[data-v-914ba2eb]:disabled {
    cursor: not-allowed;
    opacity: .6
}

.is-button-default[data-v-914ba2eb] {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(51 65 85/var(--tw-text-opacity))
}

.is-button-default[data-v-914ba2eb]:focus-visible {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity))
}

.is-button-default[data-v-914ba2eb]:enabled:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252/var(--tw-bg-opacity))
}

.is-button-default[data-v-914ba2eb]:enabled:active {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

:is([class~=dark] .is-button-default[data-v-914ba2eb]) {
    --tw-border-opacity: 1;
    border-color: rgb(71 85 105/var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85/var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

:is([class~=dark] .is-button-default[data-v-914ba2eb]:focus-visible) {
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105/var(--tw-bg-opacity))
}

:is([class~=dark] .is-button-default[data-v-914ba2eb]:enabled:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105/var(--tw-bg-opacity))
}

:is([class~=dark] .is-button-default[data-v-914ba2eb]:enabled:active) {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85/var(--tw-bg-opacity))
}